<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API docs</title>
</head>
<body>
    <h1>Welcome to the ConversionAPI Docs!</h1>
    <table id="measurements">
        <thead id="headers">
            <tr>
                <td>Measure</td>
                <td>Unit_From</td>
                <td>From_Abbreviation</td>
                <td>Operator</td>
                <td>Value</td>
                <td>Unit_To</td>
                <td>To_Abbreviation</td>
            </tr>
        </thead>
        <tbody id="data">
            <% for( let j of json) { %>
                <tr>
                    <td><%- j.Measure %></td>
                    <td><%- j.Unit_From %></td>
                    <td><%- j.From_Abbreviation %></td>
                    <td><%- j.Operator %></td>
                    <td><%- j.Value %></td>
                    <td><%- j.Unit_To %></td>
                    <td><%- j.To_Abbreviation %></td> 
                </tr>
            <% } %>
        </tbody>
    </table>

<script>

</script>
</body>
</html>