<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/app.css" />
    <title>API docs</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Welcome to the ConversionAPI Docs!</h1>
        <h3>
          Although I believe that the conversions are correct, I do not take
          responsibility if they are wrong...
        </h3>
      </header>
      <form action="/convert" method="POST">
        <!-- Collect From, To and value, send away to api and respond -->
        <label for="measure">Measure:</label>
        <select name="measure" id="measure">
            <% for( let j of json ) { %>
                <option value="<%- j.Measure %>"><%- j.Measure %></option>
            <% } %>
        </select>
        <label for="from">From:</label>
        <select name="from" id="from">
            <option value="Inch">inch</option>
        </select>
        <label for="from_value">Value:</label>
        <input type="number" name="from_value" id="from_value">
        <label for="to">To:</label>
        <select name="to" id="to">
            <option value="centimeters">centimeters</option>
        </select>
        <label for="to_value">Value:</label>
        <input type="text" name="to_value" id="to_value" disabled>
        <button>Convert!</button>
      </form>
      <article>
        <h2>The following conversions are available with this API:</h2>
        <table id="measurements">
          <thead id="headers">
            <tr>
              <th>Measure</th>
              <th>From</th>
              <th>To</th>
            </tr>
          </thead>
          <tbody id="data">
            <% for( let j of json) { %>
            <tr>
              <td><%- j.Measure %></td>
              <td><%- j.From %></td>
              <td><%- j.To %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </article>
      <article>
        <h2>To get all available groups of measures:</h2>
        <h4>/convert/:measure</h4>
        <p>
          for example: <br />
          <strong>POST: /convert/length</strong> will give this JSON response:
        </p>
        <p>
          { <br />
          "versions": 8, <br />
          "measure": "length", <br />
          "conversions": [ <br />
          { <br />
          "From": "inches", <br />
          "To": "centimeters", <br />
          "Operator": "*", <br />
          "Multiplyer": "2,54" <br />
          }, <br />
          { <br />
          "From": "foot", <br />
          "To": "centimeters", <br />
          "Operator": "*", <br />
          "Multiplyer": "30" <br />
          },... <br />
          Where "Versions" is an indicator of how many conversions that are
          available, where "measure" tells you the type of measure and
          conversions are the differnet conversions in an array. <br />
          Inside the "Conversions" you are also given the operator for the
          calculation and the multiplyer if you would like to convert into
          deciliter for example.
        </p>
      </article>
      <article>
        <h2>To do a conversion:</h2>
        <h4>/convert/:from/:to/:value</h4>
        <p>
          for example: <br />
          <strong>POST: /convert/inches/centimeters/13</strong> will give this
          JSON response:
        </p>
        {
        <br />
        "Value":"13", <br />
        "From":"inches", <br />
        "To":"centimeters", <br />
        "Equals":33.02 <br />
        }
      </article>
    </main>

    <script>
        //Add eventlisteners....
    </script>
  </body>
</html>
